<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create A New Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <input type="text" name="task">
                <input type="text" name="due_date">
                <input type="checkbox" name="is_completed">
                <input type="list" name="list"> -->
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
